.fancy-btn-search{
  display:inline-block;
  position:relative;
  padding:5px 10px;
  border:2px solid #fda;
  color: black;
  font-family:'Dancing Script',serif;
  font-style:italic;
  font-size:20px;
  text-decoration:none;
  transition: color 0.4s
}
.fancy-btn-search:after{
  content:" ";
  border:2px solid rgba(0,0,0,0);
  display:inline-block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
}
.fancy-btn-search:hover{
  color:#eee
}
.fancy-btn-search:hover:after{  
  border:2px solid #fda;
  width: calc(100% - 10px);
  height: calc(100% + 10px); 
}